<div class="container">
  <div class="row">
    <nav class="navbar navbar-expand-md navbar-light">
    

    <div class="col-md-2 men-perfume">
      <a href="/men">men</a>
    </div>
    <div class="col-md-2 women-perfume">
      <a href="/women">women</a>
    </div>
    <div class="col-md-2 kids-perfume">
      <a href="/kids">kids</a>
    </div>
    <div class="col-md-2 unisex-perfume">
      <a href="/unisex">unisex</a>
    </div>
    <div class="col-md-2 sign-up">
      <a href="/login">Login</a>
     
    </div>

    
     </nav>
  </div>
</div>




    <!-- <div class="row">
      <nav class="navbar navbar-expand-md navbar-light">

  
      <div class="col-md-2">
          
          <li>
          <a href=""> <img src="images/bryantlogo1.webp" alt="" width="80px"></a>
      </li>
  
      

      </div>

      <div class="col-md-5">
          <div class="collapse navbar-collapse" id="nav">
              <ul class="navbar-nav" >
                  <li class="nav-item">
                     <b><a href="#" class="nav-link active text-white">NEWS AND MEDIA</a></b>

                  </li>
                  <li class="nav-item">
                     <b><a href="#" class="nav-link active text-white">SCHEDULE</a></b>

                  </li>
                  <li class="nav-item">
                     <b> <a href="#" class="nav-link active text-white">TICKETS</a></b>

                  </li>
                  <li class="nav-item">
                     <b> <a href="#" class="nav-link active text-white">TEAM</a></b>

                  </li>
                  
              </ul>
          </div>

          </div>
          <div class="col-md-5">
              <div class="collapse navbar-collapse" id="nav">
                  <ul class="navbar-nav" >
                      <li class="nav-item">
                          <a href="#" class="nav-link active text-white">NBA Girls</a>
  
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link active text-white">Community</a>
  
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link active text-white">Store</a>
  
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link active text-white">Connect</a>
  
                      </li>
                      <li class="nav-item">
                          <a href="#" class="nav-link active text-white">Careers</a>
  
                      </li>
                      
                  </ul>
              </div>

              
          </div>
          

          


  </nav>
</div> -->

   

  
